.article-block {
  width: 50%;
  height: 20em;
  margin: .4em;
  float: left;
  text-decoration: none;

img {
    z-index: -10;
    max-width: none;
}

.title {
    visibility: hidden;

}

p {
  visibility: hidden;

}


&:hover {
  background-color:  #159588;
}

a:hover {
  text-decoration: none;
  color: #fff;
  visibility: visible;
}

}
.article-block:hover h2 {
  visibility:visible;
}

.article-block:hover p{visibility:visible}
