.article-block {
  clear: both;
  margin: 0 1.5% 1.5% 0;
  float: left;

}

img {
  z-index: -10;
  max-width: 100%;
}

.block-small {
  width: 40%;
}

article > img {

}

 h2 p {
   color: white;

 }
