.contact {
  clear: both;
  font-size: 1em;
  line-height: 1.5;
  float:left;
  width:20%;
  margin: 0px 160px 0 30px;

address {
  color:#888;
  font-style: normal;
}

a {
  text-decoration: none;
  color:  #159588;

}

a:hover {
  color: #ddd;
}

}
