.contact {
  clear: both;
  font-size: 1em;
  line-height: 1.5;
  float:left;
  width:20%;
  margin-right: 250px;

p {
  color:#888;
}

a {
  text-decoration: none;
  color:  #159588;

}

a:hover {
  color: #ddd;
}

}
