.css-module {
  margin-bottom: 6em;
  clear: both;
  &> h2 {
    background-color: #ddd;
    padding: .5em 0.25em;
    font-family: monospace;
    clear: both;

  }
}

.sample-image {
  zoom: .5;
  display: block;
  border: 1px solid #ddd;

}
