.footer-nav {
  font-size: .7em;
  margin: auto;
  padding: auto;
  float:left;


}

ul {
  list-style-type: none;
    display: block;
    
    




}

li{
  






}

a {
  color: #888888;
   


}



a:hover {
  color:  #159588;



}
