* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}




.sample-image {
  zoom: 0.5;
  display: block;
}
