.header{
  clear: both;
  position:relative;




img {
  zoom:.5;
  float: left;
  margin: 0px;
  padding: 0px;


}


.logo-mission {
  color: #888;
  font-size: 1em;
  line-height: 1.25em;
  display: block;
  padding-top: 20px;

}

.logo-heavy {
  font-size: 1.15em;
  font-weight:600;
  line-height:1.27;




}

.logo-mission .logo-heavy {
  float: left;

}

}
