.lab-nav{
  font-size: 13px;
    color:#888;
    margin: auto;
  padding: auto;
    border: auto;
    float:left;
    width:30%;
    border: 1px solid red;
    
   

}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
    overflow: auto;
    border: 1px solid green;
    

}

li{
border: 1px solid blue;
  margin: 0;
  padding: 0;


}

a {

  margin: 0;
  padding: 0;
}

a:hover {
  color:  #159588;



}
