.lab-nav{
  font-size: 1em;
  line-height: 1.5;
  float:left;
  width:20%;
  position: relative;
ul {
  list-style-type: none;
  padding-left: 0;
}


a {
  color:#888;
  text-decoration: none;
  margin: 0;
}

a:hover {
  color:  #159588;
}
}
