.lab-nav{
  float: left;
  display: block;
  font-size: .7em;
  margin: 0;
  padding: 0;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li{
  float: left;
  margin: 0;
  padding: 0;


}

a {
  margin: 0;
  padding: 0;
}

a:hover {
  color:  #159588;



}
