
.main-nav {
  clear: both;
  display: inline-block;
  float: right;

}


ul {
  font-size: 1.9em;
  font-weight: 700;
  line-height: 1.5;
}

li{


}

a {
  color: #333;
  margin: 20px;
}

a:hover {
    color: #159588;

}
