
.main-nav {
  clear: both;
 ul {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  list-style-type: none;
  }

  li {
    display: inline;
  }

 a {
  text-decoration: none;
  color: #333;
  margin: 15px;
  }

 a:hover {
    color: #159588;

  }

}
