.social-media {
  margin: 0;
  padding: 0;
  clear: both;

li {
  list-style-type: none;
  float: right;
  margin: 2px;
  font-size: 1.7em;
  background: 20px;
  background-color: #eee;
  min-width: 40px;
  line-height: 40px;
  text-align: center;

}

a {
  padding: 20px;
  display: block;
}

a:hover{
  color: #159588;
}

}
